body {
    background: url(images/background.jpg);

}

#score {
    margin-left: 0px;
}

#image {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    max-height: 400px;
    width: 100%;
}

#imageframe {
    text-align: center;
    margin-left: 20px;
    height: 400px;
}

#imageframe:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

#map {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 20px;
    height: 700px;
    width:98%;
}

#accept {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    position: absolute;
    top: 630px;
    left: 40px;
}

#next {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    position: absolute;
    top: 630px;
    left: 40px;
}
